.calenderhead{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;    color: #292666;margin-top: 20px;
    margin-bottom: 20px;

    }
    .MuiListItem-button {color: #292666 !important; font-weight: 600;}
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: #fff !important;
        background: #292666 !important;
    }