@import '../../style/sass/main.scss';

.set-new-passsword {
    margin-top: 6.25rem;
    background-image: url(../../assets/login-bg.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .set-new-passsword-form {
        width: 43.75rem;
        display: flex;
        flex-direction: column;
        border: 5px solid rgba($color: $primary-color, $alpha: 0.20);
        border-radius: 0.625rem;
        padding: 1.6rem 3.92rem;

        @media only screen and (max-width: 43.75rem) {
            padding: 1rem 1rem;
            width: 100%;
        }
    }

    .set-new-passsword-input {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;
        font-family: "Montserrat";
        display: flex;
        flex-direction: column;

        .input-check-icon {
            position: absolute;
            color: $status-green;
            right: -2rem;
            top: 1rem;
        }
    }

    .set-new-passsword-disclaimer {
        margin-top: 0.625rem;
        color: $grey-2;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .set-new-passsword-heading {
        margin-bottom: 1rem;
        color: $primary-color;
        font-size: 2rem;
        font-weight: 500;
        font-family: "poppins";
    }

    .set-new-passsword-subheading {
        margin-bottom: 3rem;
        font-size: 1.25rem;
        color: $text-color-2;
        font-weight: 400;
        line-height: 1.25rem;
    }

    .set-new-passsword-back {
        width: 100%;
        color: $grey-1;
        padding-top: 1.875rem;
        @include flexCenter;
        font-size: 1rem;
        font-weight: 600;

        span {
            margin-left: 0.625rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .set-new-passsword-button {
        background: $primary-color;
        color: $white-color;
        padding: 1.1rem 0;
        font-size: 1.25rem;
        font-weight: 700;
        border-radius: 0.625rem;
        border: none;
        // font-family: ;
    }
}